services:
  nginx:
    build:
      context: nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/src
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/fastcgi_params.conf:/etc/nginx/fastcgi_params.conf
      - ./logs:/var/log/nginx
    restart: unless-stopped
    depends_on:
      - php
    networks:
      - dockerpress-network

  php:
    build:
      context: php
      args:
        DEBIAN_MIRROR_DOMAIN: deb.debian.org
        PHP_EXTENSIONS: pdo_mysql mysqli fileinfo gd curl opcache sockets redis imagick intl zip bcmath exif
        TZ: UTC
    volumes:
      - ./src:/src
      - ./php/php.ini:/usr/local/etc/php/php.ini
      - ./php/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs:/var/log/php
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    networks:
      - dockerpress-network

  mysql:
    image: mysql:8.0.36
    expose:
      - "3306"
    volumes:
      - ./mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./mysql-data:/var/lib/mysql/
      - ./logs:/var/log/mysql/
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_ROOT_HOST: "%"
      TZ: UTC
    networks:
      - dockerpress-network

networks:
  dockerpress-network:
    driver: bridge
